.fix-selected-1
{
    width: 30% !important;
}
.fix-selected-3
{
    width: 23% !important;
    float: left;
    margin-right: 15px;
}
.fix-label-1
{
    margin-left: 15px;
}
.fix-button-1
{
    margin-top: 2px;
    float: left;
}
.fix-selected-2
{
    width: 50% !important;
    float: left !important;
}

.fix-label-2
{
    margin-left: 15px !important;
    /*width: 100% !important;*/
    float: left !important;
    margin-right: 10px;
}
.fix-select-2-group
{

}
.fix-select-2-group select
{
    float: left !important;
    margin-right: 15px;
}