.fix-selected-1
{
    width: 30% !important;
}
.fix-selected-3
{
    width: 23% !important;
    float: left;
    margin-right: 15px;
}
.fix-label-1
{
    margin-left: 15px;
}
.fix-button-1
{
    margin-top: 2px;
    float: left;
}
.fix-selected-2
{
    width: 50% !important;
    float: left !important;
}

.fix-label-2
{
    margin-left: 15px !important;
    /*width: 100% !important;*/
    float: left !important;
    margin-right: 10px;
}
.fix-select-2-group
{
    padding-left: 25px !important;
}
.fix-select-2-group select
{
    float: left !important;
    margin-right: 15px;
}

.client_info .form-group .inputs
{
    margin-bottom: 15px;
    margin-left: 15px;
}

.to_credit{
    float:left;
    margin-left: 15px;
    margin-right: 15px;
}

/*** MODAL ***/

.modal-container{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 26, 43, 0.50);
    z-index: 1000;
    display: none;
    text-align: center;
}

.modal-container #modal-content
{
    width: 50% !important;
    margin: 0 auto;
    margin-top: 100px;
}

.modal-container h2{
    font-size: 24px;
    margin: -40px -40px 20px -40px;
    background-color: #f0f5f8;
    padding: 20px;
}

.modal-container h3{
    font-family: 'Titillium Web', sans-serif;
    color: #2c566a;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 20px;
}
.modal-container hr{
    border: 1px solid rgb(224, 232, 236);
    margin-bottom: 20px;
}

.modal-container .center{
    display: block;
    margin: 0 auto;
}

.modal-container .showComp{
    background-color: #f89090;
    margin-bottom: 20px;
    width: 155px;
    text-align: center;
}

.modal-container .save{
    margin-bottom: 20px;
    width: 40px;
    text-align: center;
}

.modal-container .cta-cancel{
    width: 28px;
    margin-right: 21px;
}

.modal-container .form-field{
    margin-bottom: 15px;
}

.modal-container-cont{
    max-height: 90%;
    width: 100%;
    max-width:646px;
    background-color: white;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    overflow: scroll;
    text-align: left;

}
.modal-container-cont h1{
    padding:20px;
    text-align: center;
    background: #f0f5f8;
    margin-bottom:20px;
}
.modal-content{
    padding:0 40px;
}
.modal-footer{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    background-color: #f0f5f8;
    text-align: center;
    padding: 20px;
}

.modal-task{
    overflow-y: auto;
}

#custom-loading
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    z-index: 9999;
    display: none;
    text-align: center;

}
#custom-loading img
{
    margin: 0 auto;
}
#custom-loading .outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#custom-loading .middle {
    display: table-cell;
    vertical-align: middle;
}

#custom-loading .inner {
    margin-left: auto;
    margin-right: auto;
}
.modal-dialog
{
    z-index: 999999;
}